<div *ngIf="_status == 'fetching'">Loading...</div>
<div *ngIf="_status == 'success'">

    <form *ngIf="(_stateService.state$ | async).playerName == ''">
        <label>Introduce Player Name</label>
        <input [(ngModel)]="_playerName" name='playerName' type="text" />
        <button (click)="_handleSubmitClick()" type="submit">
            Submit
        </button>
    </form>

    <div *ngIf="(_stateService.state$ | async).playerName != ''">
        <app-header></app-header>
        <app-board></app-board>
        <app-play-counter></app-play-counter>
        <app-reset></app-reset>
    </div>
</div>
<div *ngIf="_status != 'fetching' && _status != 'success'">
    There is a problem communicating with the backend. Error: {{ _status }} 
</div>