<div *ngIf="_status == 'fetching'">Loading...</div>
<div *ngIf="_status == 'success'">

    <form *ngIf="(_stateService.currentGame.onChange$ | async).player1 == '' || (_stateService.currentGame.onChange$ | async).player2 == ''">
        <div>
            <label>Player 1 Name</label>
            <input [(ngModel)]="_player1" name='player1' type="text" />
        </div>
        <div>
            <label>Player 2 Name</label>
            <input [(ngModel)]="_player2" name='player2' type="text" />
        </div>
        <button (click)="_handleSubmitClick()" type="submit">
            Submit
        </button>
    </form>

    <div *ngIf="(_stateService.currentGame.onChange$ | async).player1 != '' && (_stateService.currentGame.onChange$ | async).player2 != ''">
        <app-header></app-header>
        <app-board></app-board>
        <app-play-counter></app-play-counter>
        <app-actions></app-actions>
    </div>
</div>
<div *ngIf="_status != 'fetching' && _status != 'success'">
    There is a problem communicating with the backend. Error: {{ _status }} 
</div>